# Weather Data

In [19]:
import pandas as pd

*TODO Zips automatisch einlesen entpacken und produktx.txt file als csv einlesen*

In [89]:
# Station ID for Leipzig-Holzhausen 
# https://www.dwd.de/DE/leistungen/klimadatendeutschland/statliste/statlex_html.html?view=nasPublication&nn=16102

# data air temperature
# https://opendata.dwd.de/climate_environment/CDC/observations_germany/climate/hourly/air_temperature/historical/stundenwerte_TU_02928_19510101_20211231_hist.zip
df_temp = pd.read_csv('/Users/hannesvogelsang/Programming/AAA_Project/aaa-2022-magma/00_data/stundenwerte_TU_02928_19510101_20211231_hist/produkt_tu_stunde_19510101_20211231_02928.txt', delimiter=";")

# data precipiation
# https://opendata.dwd.de/climate_environment/CDC/observations_germany/climate/hourly/precipitation/historical/stundenwerte_RR_02928_19970407_20211231_hist.zip
df_precip = pd.read_csv('/Users/hannesvogelsang/Programming/AAA_Project/aaa-2022-magma/00_data/stundenwerte_RR_02928_19970407_20211231_hist/produkt_rr_stunde_19970407_20211231_02928.txt', delimiter=";")

# data wind
# https://opendata.dwd.de/climate_environment/CDC/observations_germany/climate/hourly/wind/historical/stundenwerte_FF_02928_19580101_20211231_hist.zip
df_wind = pd.read_csv('/Users/hannesvogelsang/Programming/AAA_Project/aaa-2022-magma/00_data/stundenwerte_FF_02928_19580101_20211231_hist/produkt_ff_stunde_19580101_20211231_02928.txt', delimiter = ";")

# data cloud cover
# https://opendata.dwd.de/climate_environment/CDC/observations_germany/climate/hourly/cloudiness/historical/stundenwerte_N_02928_19970407_20211231_hist.zip
df_cloud = pd.read_csv('/Users/hannesvogelsang/Programming/AAA_Project/aaa-2022-magma/00_data/stundenwerte_N_02928_19970407_20211231_hist/produkt_n_stunde_19970407_20211231_02928.txt', delimiter = ";")

In [90]:
df_temp.drop(['STATIONS_ID','eor'], inplace=True, axis=1)
# description of columns
# https://opendata.dwd.de/climate_environment/CDC/observations_germany/climate/hourly/air_temperature/historical/DESCRIPTION_obsgermany_climate_hourly_tu_historical_en.pdf
df_temp.rename(columns = {'QN_9':'temp_quality', 
                          'TT_TU':'temperature',
                          'RF_TU':'humidity'}, inplace = True)
df_temp = df_temp[df_temp['MESS_DATUM'].between(2019000000, 2019311223)]

df_temp.head()

        MESS_DATUM  temp_quality  temperature  humidity
378231  2019010100             3          7.4      94.0
378232  2019010101             3          7.7      91.0
378233  2019010102             3          7.7      89.0
378234  2019010103             3          7.7      85.0
378235  2019010104             3          7.6      85.0

In [91]:
df_precip.drop(['STATIONS_ID','eor'], inplace=True, axis=1)
# description of columns
# https://opendata.dwd.de/climate_environment/CDC/observations_germany/climate/hourly/precipitation/historical/DESCRIPTION_obsgermany_climate_hourly_precipitation_historical_en.pdf
df_precip.rename(columns = {'QN_8':'precip_quality', 
                            '  R1':'precip_height',
                            'RS_IND':'precipitation',
                            'WRTR':'precip_form'}, inplace = True)
df_precip = df_precip[df_precip['MESS_DATUM'].between(2019000000, 2019311223)]

df_precip.head()

        MESS_DATUM  precip_quality  precip_height  precipitation  precip_form
189608  2019010100               3            0.0              0         -999
189609  2019010101               3            0.0              0            0
189610  2019010102               3            0.0              0            0
189611  2019010103               3            0.0              0         -999
189612  2019010104               3            0.0              0            0

In [92]:
df_wind.drop(['STATIONS_ID','eor'], inplace=True, axis=1)
# description of columns
# https://opendata.dwd.de/climate_environment/CDC/observations_germany/climate/hourly/wind/historical/DESCRIPTION_obsgermany_climate_hourly_wind_historical_en.pdf
df_wind.rename(columns = {'QN_3':'wind_quality', 
                            '   F':'mean_wind_speed',
                           '   D':'mean_wind_direction'}, inplace = True)
df_wind = df_wind[df_wind['MESS_DATUM'].between(2019000000, 2019311223)]

df_wind.head()

        MESS_DATUM  wind_quality  mean_wind_speed  mean_wind_direction
314343  2019010100            10              2.8                  240
314344  2019010101            10              2.9                  240
314345  2019010102            10              3.7                  240
314346  2019010103            10              3.2                  240
314347  2019010104            10              3.3                  250

In [93]:
df_cloud.drop(['STATIONS_ID','eor'], inplace=True, axis=1)
# description of columns
# https://opendata.dwd.de/climate_environment/CDC/observations_germany/climate/hourly/cloudiness/historical/DESCRIPTION_obsgermany_climate_hourly_cloudiness_historical_en.pdf
df_cloud.rename(columns = {'QN_8':'cloud_quality', 
                            'V_N_I':'measurement_index',
                           ' V_N':'total_cloud_cover'}, inplace = True)
df_cloud = df_cloud[df_cloud['MESS_DATUM'].between(2019000000, 2019311223)]

df_cloud.head()

        MESS_DATUM  cloud_quality measurement_index  total_cloud_cover
125468  2019010100              3                 I                  8
125469  2019010101              3                 I                  8
125470  2019010102              3                 I                  8
125471  2019010103              3                 I                  8
125472  2019010104              3                 I                  8

In [98]:
df_weather = df_temp.merge(df_precip,on='MESS_DATUM').merge(df_wind,on='MESS_DATUM').merge(df_cloud, on='MESS_DATUM')
                                                                            
df_weather

,MESS_DATUM,temp_quality,temperature,humidity,precip_quality,precip_height,precipitation,precip_form,wind_quality,mean_wind_speed,mean_wind_direction,cloud_quality,measurement_index,total_cloud_cover
0,2019010100,3,7.4,94.0,3,0.0,0,-999,10,2.8,240,3,I,8
1,2019010101,3,7.7,91.0,3,0.0,0,0,10,2.9,240,3,I,8
2,2019010102,3,7.7,89.0,3,0.0,0,0,10,3.7,240,3,I,8
3,2019010103,3,7.7,85.0,3,0.0,0,-999,10,3.2,240,3,I,8
4,2019010104,3,7.6,85.0,3,0.0,0,0,10,3.3,250,3,I,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8272,2019123119,3,2.8,85.0,3,0.0,0,0,10,2.3,250,3,I,1
8273,2019123120,3,2.4,85.0,3,0.0,0,0,10,2.0,250,3,I,5
8274,2019123121,3,2.7,84.0,3,0.0,0,-999,10,2.3,250,3,I,7
8275,2019123122,3,2.8,84.0,3,0.0,0,0,10,2.3,250,3,I,7
8276,2019123123,3,2.9,83.0,3,0.0,0,0,10,2.0,240,3,I,7